Product ID<br>
<input type="text" ng-model = "ID"><br>
Product Name<br>
<input type="text" ng-model = "name"><br>
Stock<br>
<input type="text" ng-model = "Quantity"><br>
Price<br>
<input type="text" ng-model = "Price"> 	<br>
Expiration Date<br>
<input type="date" style = "width : 175px" ng-model = "Expiration"><br>

<br>
<br>
<input type="button" value = "register" name="" ng-click = "register()">
<input type="button" value = "OK" name="" ng-click = "save()">
<a href = "#/pos">sadasda</a>



<div style="height:180px; overflow-y: scroll; width:800px;  position:absolute; right: 15px; top:50px;">

	
	 <table id="datatables-example" class="table1" width="80%" cellspacing="0" style="margin-left: 100px; margin-right: 100px">
	                        <thead>
	                            <tr>
	                                <th style= "text-align: center;" col width="80"> Product ID</th>
	                                <th style= "text-align: center;" col width="80"> Product Name</th>
	                                <th style= "text-align: center;" col width="80">Stock</th>
	                                <th style= "text-align: center;" col width="80">Price</th>
	                                <th style= "text-align: center;" col width="80">Expiration</th>
	                              </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="(k, v) in chenes" style="cursor:pointer;"">
	                                <td style= "text-align: center;" col width="80">{{v.id}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.name}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.quantity}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.price}}</td>
	                                <td style= "text-align: center; color: red;" col width="80">{{v.expiration}}</td>
	                            </tr>
	                        </tbody>
	</table>
	</div>
<div style="height:180px; overflow-y: scroll; width:800px;  position:absolute; right: 15px; top:250px;">

	 <table id="datatables-example" class="table1" width="80%" cellspacing="0" style="margin-left: 100px; margin-right: 100px">
	                        <thead>
	                            <tr>
	                                <th style= "text-align: center;" col width="80"> Product ID</th>
	                                <th style= "text-align: center;" col width="80"> Product Name</th>
	                                <th style= "text-align: center;" col width="80">Stock</th>
	                                <th style= "text-align: center;" col width="80">Price</th>
	                                <th style= "text-align: center;" col width="80">Expiration</th>
	                              </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="(k, v) in chixss" style="cursor:pointer;"">
	                                <td style= "text-align: center;" col width="80">{{v.id}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.product_name}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.quantity}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.price}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.expiration}}</td>
	                            </tr>
	                        </tbody>
	</table>

</div>


<div style="height:180px; overflow-y: scroll; width:800px;  position:absolute; right: 15px; top:400px;">

	 <table id="datatables-example" class="table1" width="80%" cellspacing="0" style="margin-left: 100px; margin-right: 100px" ng-if= "expiration == true">
	                        <thead>
	                            <tr>
	                                <th style= "text-align: center;" col width="80"> Product ID</th>
	                                <th style= "text-align: center;" col width="80"> Product Name</th>
	                                <th style= "text-align: center;" col width="80">Stock</th>
	                                <th style= "text-align: center;" col width="80">Price</th>
	                                <th style= "text-align: center;" col width="80">Expiration</th>
	                              </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="(k, v) in chixs" style="cursor:pointer;"">
	                                <td style= "text-align: center;" col width="80">{{v.id}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.product_name}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.quantity}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.price}}</td>
	                                <td style= "text-align: center;" col width="80">{{v.expiration}}</td>
	                            </tr>
	                        </tbody>
	</table>

</div>